@model EventIn
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Upload File";
}
<h1>Register</h1>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            @if (Context.Session.GetString("_Admin") == "true")
                            {
                                //Jquery code courtesy of https://code.msdn.microsoft.com/Uploading-and-Downloading-7b5277ef

                                <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
                                <script>
                                    $(document).ready(function () {
                                        $('#btnUploadFile').on('click', function () {
                                            var data = new FormData();
                                            var files = $("#fileUpload").get(0).files;
                                            console.log(files);
                                            // Add the uploaded image content to the form data collection
                                            if (files.length > 0) {
                                                data.append("UploadedImage", files[0]);
                                            }
                                            console.log("Here")
                                            // Make Ajax request with the contentType = false, and procesDate = false
                                            var ajaxRequest = $.ajax({
                                                type: "POST",
                                                url: "Upload",
                                                contentType: false,
                                                processData: false,
                                                data: data
                                            });
                                            ajaxRequest.done(function (xhr, textStatus) {
                                                console.log("Here2")
                                                window.location.href = "https://localhost:44374/Event/All";
                                                // Do other operation
                                            });
                                        });
                                    });
                                </script>
                                <input class="form-control form-control-lg rounded-0" type="file" name="FileUpload1" id="fileUpload" /><br />
                                <input class="btn btn-success btn-lg float-right" id="btnUploadFile" type="button" value="Upload File" />
                            }
                            @if (Context.Session.GetString("_Admin") == "false")
                            {
                                <p>You Don't have permision to access this</p>
                            }
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>