@{
    ViewBag.Title = "About";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h1>About Us</h1>
                        </div>
                        <div class="card-body">
                            <div class="desc">
                                
                                <p></p>ABC Boat Events specialise in providing high quality corporate and charity ABC boat racing events. We can deliver you the perfect event whether you want to engage your staff in a fun team building day, or host a charity event to raise money for a worthwhile cause.

                                ABC Boat Events has been providing memorable events for over 24 years, and work in partnership with Endeavour Events to offer a range of fun and exciting team building activities.

                                We are passionate about ABC Boat Racing, and believe everyone should have the opportunity to experience this fun and exhilarating sport. We provide all the staff and equipment so your teams can simply turn up and enjoy the day.

                                We can also offer a comprehensive range of auxiliary services including venue selection, catering and entertainment so whatever your requirements we can deliver the perfect event.</p>
                            </div>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->