@{
    ViewBag.Title = "Contact";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="card-body">
                            <div class="main">
                                <div class="shop_top">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="map">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2444.773048320467!2d0.1285865153374847!3d52.211171666823155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1552423411297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="m_8">
                                                    The Boating Race is organised by
                                                    XYZ
                                                    Registered Office: abc 10, xyz, xyz, 03001, England
                                                    Registered in England No B76239177
                                                </p>
                                                <div class="address">
                                                    <p>500 xyz,</p>
                                                    <p>22-56-2-9, England</p>
                                                    <p>UK</p>
                                                    <p>Phone:(00) 222 666 444</p>
                                                    <p>Fax: (000) 000 00 00 0</p>
                                                    <p>Email: <span>support@boatingrace.com</span></p>
                                                    <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 contact">
                                                <form method="post" action="contact-post.html">
                                                    <div class="to">
                                                        <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                                                        <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                                                        <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                                                    </div>
                                                    <div class="text">
                                                        <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                                                        <div class="form-submit">
                                                            <input name="submit" type="submit" id="submit" value="Submit"><br>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->