@{
    ViewBag.Title = "About";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h1>Cookies</h1>
                        </div>
                        <div class="card-body">
                            <div class="desc">

                                <h2>COOKIE POLICY</h2>
                                <h3>This cookie policy covers our websites. Hereafter referred to as “Websites”.</h3>
                                <p class="data">
                                    Owner and contact information:
                                    <br>
                                    Maurice Foss Building
                                    <br>
                                    Cox Street
                                    <br>
                                    Coventry,CV1 5PH
                                    <br>
                                    +44 0 7412862067
                                    <br>
                                    lcz408059512@gmail.com
                                    <br>
                                    <h4>CONSENT</h4>
                                    <br>
                                <p>By using the Websites you accept that DHI uses cookies as described below, unless you have opted out of cookies in your browser. If you have not opted out of cookies at the time of the submission of consent, you have the right to withdraw the consent by blocking cookies in your web browser. For further information on how to block and delete cookies, please see the section below.</p>
                                <h4>HOW WE USE COOKIES</h4>
                                <p>
                                    Cookies are very small text files that are stored on your computer or mobile device when you first visit a website. We use cookies on our websites to help recognize your device next time you visit so we can tailor your user experience, track shopping basket contents and remember where you are in the order process. We track the behaviour of our users in order to enchance our websites. The collected information is anonymous and non-personally identifiable.

                                    <br>We use the following types of cookies on the Websites:

                                    <br><span style="text-decoration: underline">First-party cookies</span>
                                    <br>Our Websites place first-party cookies on your device, and they are deleted when you close your browser. They are used for

                                    <li>Recognising your computer device.</li>
                                    <li>Remembering your choice of language.</li>
                                    <li>Registering when you visit the website.</li>
                                    <li>Identifying your http requests when using the website.</li>
                                <p>We also place persistent first-party cookies stored between 30 days and up to two years. These cookies register </p>

                                <li>How often you visit the website.</li>
                                <li>How much time you spend on the website.
                                <li>If you land on the website via a search engine, a search word or a link.</li>
                                <li>If you are a new or frequent visitor.</li>
                                <li>Track the pages you visit via Google Analytics</li>
                                <p><span style="text-decoration: underline;">Third-party cookies</span></p>
                                <p>In addition, addthis.com places third-party cookies on our Websites.</p>

                                <p>Google Analytics and Addthis.com places session cookies and persistent cookies enabling the Websites to recognise your device and register how often you visit the website. The session cookies are deleted when you close the browser. The persistent cookies are stored for two years. The cookies give us the possibility to adjust the sites’ content and make them more relevant to the users.</p>
                                </p>
                                <u><p>Ask us if you have questions</p></u>
                                <br><p>If you have any questions about cookies, please contact us on lcz408059512@gmail.com</p>

                            </div>
                            

                        </div>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->